<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- console log-->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
    	<param name="encoding" value="utf-8" />
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{HH:mm:ss.SSS}] %-5p %C{1}.%M(%F:%L) - %m%n" />
        </layout>
    </appender>
	<logger name="log4j.logger.org.apache.jasper" additivity="false">
        <level value="WARN"/>        
        <appender-ref ref="console" />
    </logger>
    <logger name="egovframework" additivity="false">
        <level value="DEBUG"/>        
        <appender-ref ref="console" />
    </logger>	
    <logger name="org.springframework" additivity="false">
		<level value="DEBUG" />		
		<appender-ref ref="console" />
	</logger>
	<logger name="java.sql" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="console" />
	</logger>
	<logger name="com.ibatis" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="console" />
	</logger> 
	<root>
        <priority value="DEBUG"></priority>
        <appender-ref ref="console" />
    </root>
	
</log4j:configuration>
